src/GearAlert.Web/Service References/Reporting/ReportingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://local.services.gearalert.net/ReportingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GearAlert.Reporting.Model" />
  <xs:import schemaLocation="http://local.services.gearalert.net/ReportingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GearAlert.Services" />
  <xs:element name="GetAllFeeds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GearAlert.Reporting.Model" minOccurs="0" name="GetAllFeedsResult" nillable="true" type="q1:ArrayOfFeed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GearAlert.Services" minOccurs="0" name="composite" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GearAlert.Services" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>