src/GearAlert.Web/Service References/Search/SearchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GearAlert.Infrastructure.Search" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GearAlert.Infrastructure.Search" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://local.services.gearalert.net/SearchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfIndexItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexItem" nillable="true" type="tns:IndexItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexItem" nillable="true" type="tns:ArrayOfIndexItem" />
  <xs:complexType name="IndexItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeedId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IndexedFields" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexItem" nillable="true" type="tns:IndexItem" />
</xs:schema>